
 {% extends '::base.html.twig' %}

 {% block javascripts %}
    {{ parent() }}

      
   
    
 {% endblock %}


 {% block body %}



<h1>Tree view of {{ dimension }}</h1>


<div ui-view></div>



<br/>
<a ui-sref="treeView">See the Tree</a>
 {% endblock %}