 {% extends '::base.html.twig' %}

{% block title %}Subscription failed{% endblock %}

 {% block body %}

<p>For an unmanaged reason, the subscription has failed. Please, re-try.</p>

    
 {% endblock %}
