 {% extends '::base.html.twig' %}

{% block title %}Subscribe to  ICO reconciliator{% endblock %}

 {% block body %}

<p>Congratulations! You have successfully created your company into ICO reconciliator.</p>

<p>There is one step to go before using the software: creating a user that will be used as administrator of the company you just created. We advise you to use a canva's name, not one person's name, such as financemanager, consolidation manager etc</p>

<p><a href="set_customer_admin">Proceed here </a> </p>
      
 {% endblock %}
