 {% extends '::base.html.twig' %}

{% block title %}Subscription successed{% endblock %}

 {% block body %}

<p>Congratulations! You have added your power user to the customer you created previously.</p>

<p>You may now login to the application.</p>

     
 {% endblock %}
