
 {% extends '::base.html.twig' %}

 {% block javascripts %}
    {{ parent() }}

      
   
    
 {% endblock %}


 {% block body %}



<h1>Flat view of {{ dimension }}</h1>


<div ui-view="discrimSelector"></div>
<div ui-view="main"></div>



<br/>
 {% endblock %}